.footer__logo, .nav__logo {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 0.05em;
}
.footer__logo a:visited, .nav__logo a:visited {
	color: #000;
}
.footer__logo a:active, .nav__logo a:active {
	color: #000;
}
.footer__logo img, .nav__logo img {
	margin-right: 10px;
	height: 22px;
	width: 26px;
	vertical-align: text-bottom;
}

.jobs__item {
	cursor: pointer;
	margin-bottom: 24px;
	padding: 17px 20px 20px 14px;
	width: 570px;
	background-color: #FFF;
	-webkit-box-shadow: 0px 0px 20px rgba(2, 126, 232, 0.15);
	        box-shadow: 0px 0px 20px rgba(2, 126, 232, 0.15);
	border: 1px solid rgba(2, 126, 232, 0.15);
	border-radius: 20px;
}
.jobs__item:hover {
	border: 1px solid #026EDE;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.item__header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.item__header--img {
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	width: 79px;
	height: 79px;
	overflow: hidden;
}

.item__header--container {
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.item__header--title {
	width: 76%;
	text-align: center;
}
.item__header--title h3 {
	font-weight: 700;
	font-size: 18px;
}
.item__header--title p {
	font-weight: 500;
	font-size: 18px;
}

.item__header--featured {
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.item__header--featured p {
	color: white;
	font-size: 12px;
	background-color: #02D4DE;
	border-radius: 20px;
	padding: 3px;
	display: inline-block;
	height: 20px;
}

.item__header--star {
	cursor: pointer;
	margin-top: 1px;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	background: url(../../../img/jobs/star-white.png) no-repeat;
}

.star--checked {
	background: url(../../../img/jobs/star.png) no-repeat;
}

.item__header--details {
	margin-top: 5px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: #BDBDBD;
}
.item__header--details P {
	font-size: 15px;
	vertical-align: text-top;
}
.item__header--details img {
	width: auto;
	margin-right: 17px;
}

.item__body {
	text-align: center;
	margin-top: 17px;
	font-weight: 400;
	font-size: 15px;
}

.jobs__viewAll {
	height: 171px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #026EDE;
	cursor: pointer;
}
.jobs__viewAll p {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 18px;
	color: white;
}

@media (max-width: 1169px) {
	.jobs__item {
		margin: 0 auto 20px;
		width: 90%;
	}
}
@media (max-width: 767px) {
	.jobs__item {
		width: 98%;
		position: relative;
	}

	.item__header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.item__header--img {
		margin: 0 auto;
	}

	.item__header--container {
		width: 100%;
		margin: 10px auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item__header--title {
		width: 100%;
		margin-bottom: 10px;
	}

	.item__header--featured {
		position: absolute;
		top: 17px;
		right: 17px;
	}

	.item__header--star {
		padding: 10px;
		width: 20px;
		height: 20px;
	}

	.item__header--details {
		display: block;
	}
	.item__header--details p {
		margin-top: 10px;
		text-align: center;
	}
}
@media (max-width: 389px) {
	.jobs__item {
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
		width: 100%;
	}
}
.burger_menu {
	display: none;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100px;
	z-index: 100;
}

.nav__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style: none;
}
.nav__links li {
	cursor: pointer;
	margin-left: 32px;
}
.nav__links a {
	font-size: 15px;
	text-align: center;
}
.nav__links a:link, .nav__links a:visited {
	color: inherit;
	text-decoration: none;
	display: block;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav__link--btn {
	margin-left: 35px;
}
@media (max-width: 992px) {
	.nav__link--btn {
		margin-left: 0px;
	}
}
.nav__link--btn:link, .nav__link--btn:visited {
	padding: 20px 63px;
	border-radius: 3rem;
	border: 1px solid #026EDE;
	color: #026EDE;
}
.nav__link--btn:hover, .nav__link--btn:active {
	background-color: #026EDE;
	color: white;
}

._lock {
	overflow: hidden;
}

@media (max-width: 767px) {
	.burger_menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		height: 80px;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #026EDE;
		z-index: 10;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.burger_menu .nav__logo {
		display: block;
	}
	.burger_menu .nav__logo a {
		font-weight: 500;
		font-size: 23px;
		letter-spacing: 0.05em;
		color: white;
	}

	.menu__icon {
		display: block;
		width: 30px;
		height: 18px;
		cursor: pointer;
		position: relative;
	}
	.menu__icon span, .menu__icon::before, .menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		background-color: #fff;
	}
	.menu__icon::after, .menu__icon::before {
		content: "";
	}
	.menu__icon::before {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 0;
	}
	.menu__icon::after {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		bottom: 0;
	}
	.menu__icon span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: 50%;
		-webkit-transform: scale(1) translate(0px, -50%);
		    -ms-transform: scale(1) translate(0px, -50%);
		        transform: scale(1) translate(0px, -50%);
	}

	.nav__logo img {
		vertical-align: text-top;
		margin: 3px 5px 0 0;
	}

	._active_burger span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		-webkit-transform: scale(0) translate(0px, -50%);
		    -ms-transform: scale(0) translate(0px, -50%);
		        transform: scale(0) translate(0px, -50%);
	}
	._active_burger:before {
		top: 50%;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		-webkit-transform: translate(0px, -50%) rotate(-45deg);
		    -ms-transform: translate(0px, -50%) rotate(-45deg);
		        transform: translate(0px, -50%) rotate(-45deg);
	}
	._active_burger:after {
		bottom: 50%;
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		-webkit-transform: translate(0px, 50%) rotate(45deg);
		    -ms-transform: translate(0px, 50%) rotate(45deg);
		        transform: translate(0px, 50%) rotate(45deg);
	}

	.nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		-webkit-transform: translate(0, -100%);
		    -ms-transform: translate(0, -100%);
		        transform: translate(0, -100%);
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: rgba(0, 0, 0, 0.95);
		z-index: 5;
		padding-top: 50px;
	}

	.nav__logo {
		display: none;
	}

	.nav__links {
		height: 90%;
		width: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: stretch;
		    -ms-flex-align: stretch;
		        align-items: stretch;
		list-style: none;
		color: white;
		overflow: auto;
	}
	.nav__links li {
		margin: 0;
		cursor: pointer;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.nav__links a {
		padding: 35px 50px;
		font-size: 25px;
	}

	.nav__link--btn {
		margin: 10px 0;
		width: 90%;
	}
	.nav__link--btn:link, .nav__link--btn:visited {
		background-color: #026EDE;
		color: white;
	}

	._active {
		-webkit-transform: translate(0px, 0px);
		    -ms-transform: translate(0px, 0px);
		        transform: translate(0px, 0px);
	}
}
@media (max-width: 767px) and (orientation: landscape) {
	.burger_menu {
		height: 50px;
	}

	.nav__links {
		height: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.nav__links li {
		padding: 10px 50px;
	}
}
body {
	font-family: "Work Sans", sans-serif;
	background-color: #FFFFFF;
}

.header .container {
	width: 1120px;
	margin: 0 auto;
}

.messagebox {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: rgba(121, 77, 239, 0.2);
	height: 100px;
	border-radius: 20px;
	position: relative;
}
.messagebox span {
	cursor: pointer;
	text-decoration: underline;
}
.messagebox h5 {
	font-weight: 500;
	text-align: center;
	font-size: 18px;
	padding-right: 5px;
}

.messagebox__photo {
	position: absolute;
	margin: 12px;
}

.section {
	width: 100%;
	margin-top: 100px;
}

.section__main {
	width: 100%;
}
.section__main .container {
	width: 1120px;
	margin: 0 auto;
}

.main__nav {
	width: 38%;
	min-width: 360px;
	margin: 60px auto 40px;
}
.main__nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.main__nav ul a {
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	height: 28px;
}

.main__nav--active {
	text-decoration: underline;
}

.main__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.cabinet__nav {
	-webkit-box-flex: 19%;
	    -ms-flex: 19%;
	        flex: 19%;
	height: 364px;
	-webkit-box-shadow: 0px 0px 20px rgba(2, 126, 232, 0.15);
	        box-shadow: 0px 0px 20px rgba(2, 126, 232, 0.15);
	border-radius: 20px;
	background-image: url(../../../img/cabinet/businessman-working-on-laptop3.png);
	background-position: bottom, left;
	background-repeat: no-repeat;
	height: 364px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.cabinet__nav ul {
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(30px);
	        backdrop-filter: blur(30px);
	height: 260px;
	width: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 46px 19px;
}
@media (max-width: 1169px) {
	.cabinet__nav ul {
		padding: 0;
	}
}
.cabinet__nav ul a {
	font-size: 18px;
	font-weight: 500;
}

.cabinet__nav--active {
	text-decoration: underline;
}

.cabinet__content {
	-webkit-box-flex: 62%;
	    -ms-flex: 62%;
	        flex: 62%;
}

.jobs__item {
	margin: 0 auto 24px;
}

.cabinet__filter {
	-webkit-box-flex: 19%;
	    -ms-flex: 19%;
	        flex: 19%;
}
.cabinet__filter h3 {
	margin-left: 10%;
	font-size: 18px;
	font-weight: 700;
}

.filter {
	margin-top: 16px;
	margin-left: 10%;
	height: 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.filter h6 {
	font-size: 16px;
	font-weight: 600;
}

.filter input {
	margin-right: 10px;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox + label {
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	font-weight: 400;
	font-size: 15px;
}

.custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 23px;
	height: 23px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 5px;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
	border-color: #0b76ef;
	background-color: #0b76ef;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.amount {
	margin-left: -3px;
	display: inline;
	background-color: #D7D7D7;
	color: white;
	font-weight: 400;
	line-height: 9px;
	text-align: center;
	vertical-align: text-top;
	border-radius: 50%;
	font-size: 8px;
	padding: 1.34px 3.68px;
}

._lock {
	overflow: hidden;
}

@media (max-width: 1169px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 780px;
		margin: 0 auto;
	}

	.messagebox h5 {
		-ms-flex-item-align: end;
		    -ms-grid-row-align: end;
		    align-self: end;
		margin-right: 7%;
		font-size: 15px;
	}

	.jobs__item {
		width: 90%;
		position: relative;
	}

	.item__header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.item__header--img {
		margin: 0 auto;
	}

	.item__header--container {
		width: 100%;
		margin: 10px auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item__header--title {
		width: 100%;
		margin-bottom: 10px;
	}

	.item__header--featured {
		position: absolute;
		top: 17px;
		right: 17px;
	}

	.item__header--star {
		padding: 10px;
		width: 20px;
		height: 20px;
	}

	.item__header--details {
		display: block;
	}
	.item__header--details p {
		margin-top: 10px;
		text-align: center;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: 390px;
	}

	.messagebox {
		margin-top: 90px;
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.messagebox h5 {
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
		margin: 0;
		width: 70%;
	}

	.messagebox__photo {
		position: static;
	}

	.main__nav {
		min-width: 100%;
		margin: 30px auto;
	}

	.main__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		width: 100%;
	}

	.cabinet__filter {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-bottom: 20px;
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
	}

	.filter__categories {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.cabinet__content {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
	}

	.jobs__item {
		width: 90%;
	}

	.item__header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.item__header--img {
		margin: 0 auto;
	}

	.item__header--container {
		width: 100%;
		margin: 10px auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.item__header--title {
		width: 100%;
		margin-bottom: 10px;
	}

	.cabinet__nav {
		-webkit-box-ordinal-group: 4;
		    -ms-flex-order: 3;
		        order: 3;
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
		background-image: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
		border-radius: unset;
	}
	.cabinet__nav ul {
		background-color: #FFF;
		-webkit-backdrop-filter: none;
		        backdrop-filter: none;
	}
}
@media (max-width: 767px) and (orientation: landscape) {
	.container {
		max-width: 390px;
	}

	.messagebox {
		margin-top: 60px;
	}
}
@media (max-width: 389px) {
	.container {
		max-width: 280px;
	}

	.main__nav {
		width: 40%;
	}
	.main__nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.jobs__item {
		width: 100%;
	}
}
.section__download {
	background-color: #026EDE;
	padding: 100px 0;
}
.section__download .container {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1170px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.container__column {
	width: 25%;
	text-align: center;
	color: #FFF;
}
.container__column h5 {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 25px;
}
.container__column p {
	font-weight: 400;
	font-size: 15px;
	margin-bottom: 15px;
}
.container__column p a {
	color: #fff;
}

.column__download {
	display: inline-block;
}
.column__download h5 {
	display: inline-block;
	margin-bottom: 8px;
}

.column__subtitle {
	display: inline-block;
	height: 20px;
	border-bottom: 1px solid white;
}

.apps {
	text-align: left;
	margin-top: 34px;
}

.apps > a {
	margin-right: 28px;
}

.footer .container {
	width: 1170px;
	margin: 0 auto;
	padding: 38px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	vertical-align: middle;
}

.footer__follow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__follow a,
.footer__follow p {
	margin-right: 10px;
}

.footer__nav {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer__nav a {
	margin-right: 33px;
	vertical-align: middle;
	font-weight: 400;
	font-size: 15px;
	color: black;
	text-decoration: underline;
}

@media (max-width: 992px) {
	.footer .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.footer__logo,
.footer__copyright,
.footer__follow {
		margin: 10px auto;
	}

	.footer__nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.footer__nav a {
		margin-right: 0px;
	}
}
@media (max-width: 767px) {
	.section__download .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.container__column {
		width: 95%;
		margin-top: 20px;
	}
	.container__column h5 {
		font-size: 25px;
	}
	.container__column p {
		font-size: 20px;
	}

	.apps {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 0 auto;
		width: 120px;
	}
	.apps img {
		margin-top: 15px;
	}

	.apps > a {
		margin: 0px;
	}

	.column__subtitle {
		display: inline-block;
		height: 30px;
		border-bottom: 1px solid white;
	}

	.footer .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}